#logo {
    width: 175px;

}

body {
    font-family: 'Source Code Pro', monospace;
}

#profile-photo {
    width: 53px;
    height: 47px;
}

#bg-navbarcolor {
    background-color: #f4053a !important;
}

#color-bar {
    color: white !important;
}

#btn-menu {
    display: none;
}

#barras {
    width: 75px;
}

#pie-landing {
    height: 52px;

    width: 100%;
    bottom: 0;
    color: white;
}
#content-footer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: baseline;
    align-content: stretch;

}
.size-icon {
    font-size: 25px;
    padding: 7px;
    color: white;
}


.container .btn-menu label {
    color: #fff;
    font-size: 37px;
    cursor: pointer;
}


.container-menu {
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    transition: all 500ms ease;
    opacity: 0;
    visibility: hidden;
}

#btn-menu:checked~.container-menu {
    opacity: 1;
    visibility: visible;
}

#btn-home {
    position: initial;
    display: block;
    font-size: large;
    font-family: 'Source Code Pro', monospace;
    text-decoration: none;
    padding: 20px;
    color: #ffffff;
    border-left: 5px solid transparent;
    transition: all 400ms ease;
}

.cont-menu {
    width: 100%;
    max-width: 70%;
    background: #f4053a;
    height: 100vh;
    position: relative;
    transition: all 500ms ease;
    transform: translateX(-100%);
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

#btn-menu:checked~.container-menu .cont-menu {
    transform: translateX(0%);
}

.cont-menu nav {
    transform: translateY(15%);
}

.cont-menu nav a {
    display: block;
    font-size: large;
    font-family: 'Source Code Pro', monospace;
    text-decoration: none;
    padding: 20px;
    color: #ffffff;
    border-left: 5px solid transparent;
    transition: all 400ms ease;
}

.cont-menu nav a:hover {
    border-left: 5px solid #413863;
    background: #f4053a;
}

.cont-menu label {
    position: absolute;
    right: 206px;
    top: 10px;
    color: #fff;
    cursor: pointer;
    font-size: 38px;
}

#inicarss {
    padding-bottom: 0;
    padding-top: 0%;
    font-size: 26px;
}

.position-img {
    position: absolute;
    left: 10px;
    bottom: 163px;
}

.contenedor-1 {
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: baseline;
	align-content: stretch;
    font-size: xx-small;
    font-weight: bold;
}

.contenedor-2 {
    margin-top: 25px;
}

.contenedor-2 i {
    color: #fff;
    cursor: pointer;
    font-size: 30px;
}


/*Estilos de titulos*/
#titulos {
    color: #4c4175;
    text-align: center;
    margin: 20px;

}

#titulos h2 {
    font-weight: bold;
    margin-bottom: 15px;
    font-size: 30px;
}

#titulos h5 {
    font-weight:bolder;
    margin-bottom: 15px;
    font-size: 20px;
}

#titulos h3 {
    font-weight:bolder;
    margin-bottom: 15px;
    font-size: 30px;
    
}



#titulo-cate {
    background-color: #ee2752;
    color: #fff;

}

/*ESTILOS DE LA CARTA DE LA CATEGORIA*/
#icono-categoria {
    width: 70px !important;
    margin-top: 15px;
}

#Carta-categoria:hover {
    background-color:#f4053a;
    cursor: pointer;
}

#Carta-categoria{
    margin: 10px;
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	align-content: space-between;
    background-color: #f4053a;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    height: 130px;
    border: none;
}

#Carta-categoria p {
    color: white;
    font-weight: bold;
    font-size: small;
}

.grupo-Categorias {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around !important;
	align-items: flex-start;
	align-content: stretch;
    
}

@media (max-width: 400px) {
    #icono-categoria {
        width: 58% !important;
        margin-top: 18px;
    }
}

@media (min-width:500px) {
    #contenido-producto h2{
        font-size: 29px !important;
    }
    #contenido-producto h5{
        font-size: 26px !important;
    }
    #contenido-producto p{
        font-size: 21px !important;
    }
}



#icono-producto {
    width: 70px !important;;
}

#contenido-producto {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	align-content: stretch;
    box-shadow: 0px 0px 10px #4c4175 !important;
    border-radius: 13px;
}

#contenido-producto h2,h5,p {
    margin: 0;
}

#contenido-producto h2{
    font-size: 20px;
}
#contenido-producto h5{
    font-size: 15px;
}
#contenido-producto p{
    font-size: 15px;
}


/*ESTILOS DE LAS EMPRESAS*/
.abrir-categorias {
    display: block !important;
}

.cerrar-categoria {
    display: none;
}

.header-productos{
    background-color: #f4053a;
    color: #fff;
    font-size: 30px;
    font-weight: bold;
}

.header-productos h5 {
    font-size: 30px;
    font-weight: bold;
}

#btn-closeproducto {
    background-color: #f4053a;
    color: #fff;
}


#producto {
    margin: 15px;
    background-color: #f4053a;
    border-radius: 30px;
    padding: 15px;
}

#body-producto {
    font-family: 'Source Code Pro', monospace;
    color: #4c4175;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: flex-start;
	align-content: stretch;
    padding: 12px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    background-color: white;
}

#body-producto h2 {
    font-weight: bold;
}

#banner-producto {
    width: 100%;
    height: 136px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

@media (min-width:500px) {
    #banner-producto {
        width: 100%;
        height: 181px;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
    }
}

#body-producto p {
    font-weight: lighter;
}

#logo-producto {
    width: 40px !important;
    margin-right: 15px;
}

/*ESTILOS PARA LOS PRODUCTOS*/


#btn-pedir {
    background-color: #f4053a;
    color: white;
    height: 30px;
    width: 74px;
    font-weight: bold;
    border-color: #c40a32;
}


#btn-prod-menu {
    background-color: #4c4175;
    color: #fff;
}

/*ESTILOS DEL FORMULARIO PARA PEDIR*/
#contenedor-orden1 {
    padding: 15px;
    background-color:#4c4175ce;
    border-radius: 30px;
    position: absolute;
    top: 100px;
    right: 10px;
    display: none;
}

#contenedor-orden2 {
    background-color: white;
    padding: 15px;
    border-radius: 25px;
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
	align-content: stretch;
}

#contenedor-orden2 div {
    margin-bottom: 15px;
    color: #4c4175;
}

.flex-orden {
 	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	align-content: stretch;
}

#btn-cerrarOrden {
    background-color:#4c4175;
    color: #fff;
    font-weight: bold;
    height: 35px;
    margin-right: 25px;
}

#btn-procesarOrden {
    background-color: #f4053a;
    color: #fff;
    font-weight: bold;
    height: 35px;
    margin-left: 25px;
}

#input-orden {
    width: 20%;
    margin-left: 13px;
    border-color: #4c4175;
    text-align: center;
    color: #4c4175;
}

#titulo-orden {
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	align-content: center;
}